.base {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
}

.tg-base {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}