.base {
    width: 100%;
    /*min-height: 100px;*/
    max-height: 1200px;
    overflow-y: auto;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    /*border: 1px solid #ababab;*/
    border: none;
    resize: none;
    background: var(--tg-theme-bg-color);
}

.base:focus {
    /*outline: 2px solid #e0e8f8;*/
    /*border: 1px solid #1677FF;*/
    outline: none;
    border: none;
}

.tg-base {

}