.base {

}

.button {
    /*border: 1px solid #ababab;*/
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 2px 8px;
    background: #999999;
    /*background: var(--tg-theme-bg-color);*/
    /*color: var(--tg-theme-text-color);*/
    cursor: pointer;
    font-size: 14px;
    margin-right: 4px;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    /*outline: 2px solid #e0e8f8;*/
    /*border: 1px solid #1677FF;*/
    outline: none;
    border: none;
}

.buttonActive {
    filter: brightness(75%);
}