.base {
    border: 1px solid #ababab;
    border-radius: 6px;
    padding: 4px 8px;
    background: white;
    cursor: pointer;
}

.base:hover {
    outline: 2px solid #e0e8f8;
    border: 1px solid #1677FF;
}