.base {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 14px;
    height: calc(100vh - 28px);
    position: relative;
}

.base > * {
    margin-bottom: 24px;
}

.base > *:last-child {
    margin-bottom: 0;
}

.variableSection {
    max-height: calc(40vh - 14px - 24px - 24px - 13.4px - 30px - 31px);
}

.variableSection > * {
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 0;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.subtitle {
    font-size: 10px;
    text-transform: uppercase;
    color: var(--tg-theme-hint-color);
    margin-top: 0;
    margin-right: 0;
}
